Repository apache/shardingsphere-elasticjob, pull requests merged in 2021-08, with the labels that each got.

#1952 Fix NPE in InstanceService.getAvailableJobInstances
  elasticjob-infra/elasticjob-registry-center/src/main/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperRegistryCenter.java
  elasticjob-lite/elasticjob-lite-core/src/main/java/org/apache/shardingsphere/elasticjob/lite/internal/instance/InstanceService.java
Labels: bug, lite

#1953 modify an error for docs
  docs/content/user-manual/elasticjob-lite/usage/operation-api/_index.cn.md
  docs/content/user-manual/elasticjob-lite/usage/operation-api/_index.en.md
Labels: document

#1955 support timezone
  elasticjob-api/src/main/java/org/apache/shardingsphere/elasticjob/api/JobConfiguration.java
  elasticjob-api/src/test/java/org/apache/shardingsphere/elasticjob/api/JobConfigurationTest.java
  elasticjob-infra/elasticjob-infra-common/src/main/java/org/apache/shardingsphere/elasticjob/infra/pojo/JobConfigurationPOJO.java
  elasticjob-lite/elasticjob-lite-core/src/main/java/org/apache/shardingsphere/elasticjob/lite/api/bootstrap/impl/ScheduleJobBootstrap.java
  elasticjob-lite/elasticjob-lite-core/src/main/java/org/apache/shardingsphere/elasticjob/lite/internal/config/RescheduleListenerManager.java
  elasticjob-lite/elasticjob-lite-core/src/main/java/org/apache/shardingsphere/elasticjob/lite/internal/schedule/JobScheduleController.java
  elasticjob-lite/elasticjob-lite-core/src/test/java/org/apache/shardingsphere/elasticjob/lite/internal/config/RescheduleListenerManagerTest.java
  elasticjob-lite/elasticjob-lite-core/src/test/java/org/apache/shardingsphere/elasticjob/lite/internal/schedule/JobScheduleControllerTest.java
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-namespace/src/main/java/org/apache/shardingsphere/elasticjob/lite/spring/namespace/job/parser/JobBeanDefinitionParser.java
Labels: enhancement

#1957 spring module add timeZone
  docs/content/user-manual/elasticjob-lite/configuration/_index.cn.md
  docs/content/user-manual/elasticjob-lite/configuration/_index.en.md
  docs/content/user-manual/elasticjob-lite/configuration/java-api.cn.md
  docs/content/user-manual/elasticjob-lite/configuration/java-api.en.md
  docs/content/user-manual/elasticjob-lite/configuration/spring-boot-starter.cn.md
  docs/content/user-manual/elasticjob-lite/configuration/spring-boot-starter.en.md
  docs/content/user-manual/elasticjob-lite/configuration/spring-namespace.cn.md
  docs/content/user-manual/elasticjob-lite/configuration/spring-namespace.en.md
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-boot-starter/src/main/java/org/apache/shardingsphere/elasticjob/lite/spring/boot/job/ElasticJobConfigurationProperties.java
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-boot-starter/src/test/java/org/apache/shardingsphere/elasticjob/lite/spring/boot/job/ElasticJobConfigurationPropertiesTest.java
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-boot-starter/src/test/resources/application-elasticjob.yml
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-namespace/src/main/java/org/apache/shardingsphere/elasticjob/lite/spring/namespace/job/parser/JobBeanDefinitionParser.java
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-namespace/src/main/java/org/apache/shardingsphere/elasticjob/lite/spring/namespace/job/tag/JobBeanDefinitionTag.java
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-namespace/src/main/resources/META-INF/namespace/elasticjob.xsd
Labels: enhancement, spring

#1956 bugfix: getJobConfiguration return null instead of throw NullPointerException
  elasticjob-lite/elasticjob-lite-lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lite/lifecycle/internal/settings/JobConfigurationAPIImpl.java
  elasticjob-lite/elasticjob-lite-lifecycle/src/test/java/org/apache/shardingsphere/elasticjob/lite/lifecycle/internal/settings/JobConfigurationAPIImplTest.java
Labels: enhancement, lite
