Repository apache/shardingsphere-elasticjob, pull requests merged in 2021-07, with the labels that each got.

#1896 Use a auto increment unique identity to Mysql InnoDB PRIMARY KEY
  elasticjob-ecosystem/elasticjob-tracing/elasticjob-tracing-rdb/src/main/resources/META-INF/sql/MySQL.properties
Labels: enhancement, tracing

#1920 ShardingSphere ElasticJob 3.0.0 released
  NOTICE
  elasticjob-api/pom.xml
  elasticjob-cloud/elasticjob-cloud-common/pom.xml
  elasticjob-cloud/elasticjob-cloud-executor/pom.xml
  elasticjob-cloud/elasticjob-cloud-scheduler/pom.xml
  elasticjob-cloud/pom.xml
  elasticjob-distribution/elasticjob-cloud-executor-distribution/pom.xml
  elasticjob-distribution/elasticjob-cloud-scheduler-distribution/pom.xml
  elasticjob-distribution/elasticjob-cloud-scheduler-distribution/src/main/release-docs/NOTICE
  elasticjob-distribution/elasticjob-lite-distribution/pom.xml
  elasticjob-distribution/elasticjob-src-distribution/pom.xml
  elasticjob-distribution/pom.xml
  elasticjob-ecosystem/elasticjob-error-handler/elasticjob-error-handler-spi/pom.xml
  elasticjob-ecosystem/elasticjob-error-handler/elasticjob-error-handler-type/elasticjob-error-handler-dingtalk/pom.xml
  elasticjob-ecosystem/elasticjob-error-handler/elasticjob-error-handler-type/elasticjob-error-handler-email/pom.xml
  elasticjob-ecosystem/elasticjob-error-handler/elasticjob-error-handler-type/elasticjob-error-handler-general/pom.xml
  elasticjob-ecosystem/elasticjob-error-handler/elasticjob-error-handler-type/elasticjob-error-handler-wechat/pom.xml
  elasticjob-ecosystem/elasticjob-error-handler/elasticjob-error-handler-type/pom.xml
  elasticjob-ecosystem/elasticjob-error-handler/pom.xml
  elasticjob-ecosystem/elasticjob-executor/elasticjob-executor-kernel/pom.xml
  elasticjob-ecosystem/elasticjob-executor/elasticjob-executor-type/elasticjob-dataflow-executor/pom.xml
  elasticjob-ecosystem/elasticjob-executor/elasticjob-executor-type/elasticjob-http-executor/pom.xml
  elasticjob-ecosystem/elasticjob-executor/elasticjob-executor-type/elasticjob-script-executor/pom.xml
  elasticjob-ecosystem/elasticjob-executor/elasticjob-executor-type/elasticjob-simple-executor/pom.xml
  elasticjob-ecosystem/elasticjob-executor/elasticjob-executor-type/pom.xml
  elasticjob-ecosystem/elasticjob-executor/pom.xml
  elasticjob-ecosystem/elasticjob-tracing/elasticjob-tracing-api/pom.xml
  elasticjob-ecosystem/elasticjob-tracing/elasticjob-tracing-rdb/pom.xml
  elasticjob-ecosystem/elasticjob-tracing/pom.xml
  elasticjob-ecosystem/pom.xml
  elasticjob-infra/elasticjob-infra-common/pom.xml
  elasticjob-infra/elasticjob-registry-center/pom.xml
  elasticjob-infra/elasticjob-restful/pom.xml
  elasticjob-infra/pom.xml
  elasticjob-lite/elasticjob-lite-core/pom.xml
  elasticjob-lite/elasticjob-lite-lifecycle/pom.xml
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-boot-starter/pom.xml
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-namespace/pom.xml
  elasticjob-lite/elasticjob-lite-spring/pom.xml
  elasticjob-lite/pom.xml
  pom.xml
Labels: release

#1901 Remove state pollution caused by test GsonFactoryTest.assertRegisterTypeAdapter to avoid order-dependent flaky tests
  elasticjob-infra/elasticjob-infra-common/src/main/java/org/apache/shardingsphere/elasticjob/infra/json/GsonFactory.java
  elasticjob-infra/elasticjob-infra-common/src/test/java/org/apache/shardingsphere/elasticjob/infra/json/GsonFactoryTest.java
Labels: test

#1921 Update download links for ElasticJob 3.0.0 GA
  docs/content/downloads/_index.cn.md
  docs/content/downloads/_index.en.md
Labels: document, release

#1930 JobBootstrapBeans instantiation in afterSingletonsInstantiated
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-boot-starter/src/main/java/org/apache/shardingsphere/elasticjob/lite/spring/boot/job/ElasticJobBootstrapConfiguration.java
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-boot-starter/src/test/java/org/apache/shardingsphere/elasticjob/lite/spring/boot/job/fixture/job/impl/CustomTestJob.java
Labels: enhancement, spring

#1933 Update powered by documents
  docs/content/powered-by/_index.cn.md
  docs/content/powered-by/_index.en.md
Labels: document

#1935 Shared thread pool in JobTracingEventBus
  elasticjob-ecosystem/elasticjob-tracing/elasticjob-tracing-api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/JobTracingEventBus.java
Labels: enhancement, tracing

#1936 Fix lifecycle cannot trigger job
  elasticjob-lite/elasticjob-lite-lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lite/lifecycle/internal/operate/JobOperateAPIImpl.java
  elasticjob-lite/elasticjob-lite-lifecycle/src/test/java/org/apache/shardingsphere/elasticjob/lite/lifecycle/internal/operate/JobOperateAPIImplTest.java
Labels: bug, lite

#1942 Format code for #1938
  elasticjob-infra/elasticjob-infra-common/src/main/java/org/apache/shardingsphere/elasticjob/infra/env/IpUtils.java
  elasticjob-infra/elasticjob-infra-common/src/test/java/org/apache/shardingsphere/elasticjob/infra/env/IpUtilsTest.java
Labels: refactor

#1943 Support for listener order
  elasticjob-infra/elasticjob-infra-common/src/main/java/org/apache/shardingsphere/elasticjob/infra/listener/ElasticJobListener.java
  elasticjob-lite/elasticjob-lite-core/src/main/java/org/apache/shardingsphere/elasticjob/lite/internal/schedule/LiteJobFacade.java
  elasticjob-lite/elasticjob-lite-core/src/test/java/org/apache/shardingsphere/elasticjob/lite/api/listener/fixture/TestElasticJobListener.java
  elasticjob-lite/elasticjob-lite-core/src/test/java/org/apache/shardingsphere/elasticjob/lite/internal/schedule/LiteJobFacadeTest.java
Labels: enhancement, lite

#1941 update `elasticjob.preferred.network.ip` docs
  docs/content/faq/_index.cn.md
  docs/content/faq/_index.en.md
  docs/content/user-manual/elasticjob-lite/operation/deploy-guide.cn.md
  docs/content/user-manual/elasticjob-lite/operation/deploy-guide.en.md
Labels: document

#1948 Update download links for ElasticJob UI 3.0.0 GA
  docs/content/downloads/_index.cn.md
  docs/content/downloads/_index.en.md
Labels: document, release
