Repository apache/shardingsphere-elasticjob, pull requests merged in 2023-10, with the labels that each got.

#2273 Upgrade dependencies version
  elasticjob-cloud/elasticjob-cloud-common/src/main/java/org/apache/shardingsphere/elasticjob/cloud/statistics/rdb/StatisticRdbRepository.java
  elasticjob-distribution/elasticjob-cloud-scheduler-distribution/src/main/release-docs/LICENSE
  elasticjob-infra/elasticjob-infra-common/src/main/java/org/apache/shardingsphere/elasticjob/infra/yaml/YamlEngine.java
  examples/pom.xml
  pom.xml
Labels: dependencies

#2274 Update description
  .asf.yaml
  README.md
  pom.xml
Labels: build

#2280 Refactor : refactor the example version to 3.0.4
  examples/pom.xml
Labels: example

#2281 Fix javadoc
  elasticjob-api/src/main/java/org/apache/shardingsphere/elasticjob/annotation/ElasticJobConfiguration.java
  elasticjob-api/src/main/java/org/apache/shardingsphere/elasticjob/annotation/ElasticJobProp.java
  elasticjob-api/src/main/java/org/apache/shardingsphere/elasticjob/api/JobExtraConfigurationFactory.java
Labels: refactor

#2282 Update gitignore
  .gitignore
  docs/.hugo_build.lock
Labels: build

#2283 Add : add check profile
  pom.xml
Labels: build, refactor

#2284 Refactor pom for dependency
  elasticjob-api/pom.xml
  elasticjob-cloud/elasticjob-cloud-common/pom.xml
  elasticjob-cloud/elasticjob-cloud-executor/pom.xml
  elasticjob-cloud/elasticjob-cloud-scheduler/pom.xml
  elasticjob-distribution/elasticjob-cloud-scheduler-distribution/pom.xml
  elasticjob-ecosystem/elasticjob-error-handler/elasticjob-error-handler-type/elasticjob-error-handler-dingtalk/pom.xml
  elasticjob-ecosystem/elasticjob-error-handler/elasticjob-error-handler-type/elasticjob-error-handler-email/pom.xml
  elasticjob-ecosystem/elasticjob-error-handler/elasticjob-error-handler-type/elasticjob-error-handler-general/pom.xml
  elasticjob-ecosystem/elasticjob-error-handler/elasticjob-error-handler-type/elasticjob-error-handler-wechat/pom.xml
  elasticjob-ecosystem/elasticjob-executor/elasticjob-executor-kernel/pom.xml
  elasticjob-ecosystem/elasticjob-executor/elasticjob-executor-type/elasticjob-http-executor/pom.xml
  elasticjob-ecosystem/elasticjob-executor/elasticjob-executor-type/pom.xml
  elasticjob-ecosystem/elasticjob-tracing/elasticjob-tracing-api/pom.xml
  elasticjob-ecosystem/elasticjob-tracing/elasticjob-tracing-rdb/pom.xml
  elasticjob-infra/elasticjob-infra-common/pom.xml
  elasticjob-infra/elasticjob-registry-center/elasticjob-registry-center-api/pom.xml
  elasticjob-infra/elasticjob-registry-center/elasticjob-regitry-center-provider/elasticjob-registry-center-zookeeper-curator/pom.xml
  elasticjob-infra/elasticjob-registry-center/pom.xml
  elasticjob-infra/elasticjob-restful/pom.xml
  elasticjob-lite/elasticjob-lite-core/pom.xml
  elasticjob-lite/elasticjob-lite-lifecycle/pom.xml
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-boot-starter/pom.xml
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-core/pom.xml
  elasticjob-lite/elasticjob-lite-spring/elasticjob-lite-spring-namespace/pom.xml
  pom.xml
Labels: dependencies

#2285 Refactor pom for dependency
  pom.xml
Labels: build

#2286 Refactor check profile
  pom.xml
Labels: build, refactor

#2287 Add required check
  .github/workflows/maven.yml
  .github/workflows/required-check.yml
Labels: build, refactor

#2289 Refactor : refactor the asf file to make required check mandatory
  .asf.yaml
  .github/workflows/maven.yml
Labels: build, refactor

#2293 Relax the conditions for unit tests involving awaitility to fix CI
  core/src/test/java/org/apache/shardingsphere/elasticjob/engine/integrate/disable/DisabledJobIntegrateTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/engine/spring/namespace/job/OneOffJobSpringNamespaceWithTypeTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/engine/spring/namespace/scanner/AbstractJobSpringIntegrateTest.java
Labels: test

#2278 Bump JDK 21 from ea to GA
  .github/workflows/maven.yml
Labels: build

#2294 Refactor spring dependencies
  spring/boot-starter/pom.xml
  spring/core/pom.xml
  spring/namespace/pom.xml
  spring/pom.xml
Labels: spring, dependencies

#2299 Refactor example module structure
  examples/elasticjob-example-java/pom.xml
  examples/elasticjob-example-java/src/main/java/org/apache/shardingsphere/elasticjob/example/JavaMain.java
  examples/elasticjob-example-java/src/main/resources/logback.xml
  examples/elasticjob-example-java/src/main/resources/script/demo.bat
  examples/elasticjob-example-java/src/main/resources/script/demo.sh
  examples/elasticjob-example-spring/pom.xml
  examples/elasticjob-example-spring/src/main/java/org/apache/shardingsphere/elasticjob/example/SpringMain.java
  examples/elasticjob-example-spring/src/main/resources/META-INF/application-context.xml
  examples/elasticjob-example-spring/src/main/resources/conf/job.properties
  examples/elasticjob-example-spring/src/main/resources/conf/reg.properties
  examples/elasticjob-example-spring/src/main/resources/logback.xml
  examples/elasticjob-example-spring/src/main/resources/script/demo.bat
  examples/elasticjob-example-spring/src/main/resources/script/demo.sh
  examples/elasticjob-example-springboot/pom.xml
  examples/elasticjob-example-springboot/src/main/java/org/apache/shardingsphere/elasticjob/example/SpringBootMain.java
  examples/elasticjob-example-springboot/src/main/java/org/apache/shardingsphere/elasticjob/example/controller/OneOffJobController.java
  examples/elasticjob-example-springboot/src/main/java/org/apache/shardingsphere/elasticjob/example/entity/Foo.java
  examples/elasticjob-example-springboot/src/main/java/org/apache/shardingsphere/elasticjob/example/job/SpringBootDataflowJob.java
  examples/elasticjob-example-springboot/src/main/java/org/apache/shardingsphere/elasticjob/example/job/SpringBootOccurErrorNoticeDingtalkJob.java
  examples/elasticjob-example-springboot/src/main/java/org/apache/shardingsphere/elasticjob/example/job/SpringBootOccurErrorNoticeEmailJob.java
  examples/elasticjob-example-springboot/src/main/java/org/apache/shardingsphere/elasticjob/example/job/SpringBootOccurErrorNoticeWechatJob.java
  examples/elasticjob-example-springboot/src/main/java/org/apache/shardingsphere/elasticjob/example/job/SpringBootSimpleJob.java
  examples/elasticjob-example-springboot/src/main/java/org/apache/shardingsphere/elasticjob/example/repository/FooRepository.java
  examples/elasticjob-example-springboot/src/main/resources/application-dev.yml
  examples/elasticjob-example-springboot/src/main/resources/application-prod.yml
  examples/elasticjob-example-springboot/src/main/resources/application.yml
  examples/elasticjob-example-springboot/src/main/resources/logback.xml
  examples/pom.xml
Labels: refactor, example

#2301 Refactor log dependencies
  ecosystem/error-handler/type/dingtalk/pom.xml
  ecosystem/error-handler/type/email/pom.xml
  ecosystem/error-handler/type/general/pom.xml
  ecosystem/error-handler/type/wechat/pom.xml
  ecosystem/executor/kernel/pom.xml
  ecosystem/executor/type/http/pom.xml
  ecosystem/tracing/api/pom.xml
  ecosystem/tracing/rdb/pom.xml
  infra/pom.xml
  kernel/pom.xml
  lifecycle/pom.xml
  pom.xml
  registry-center/api/pom.xml
  registry-center/provider/zookeeper-curator/pom.xml
Labels: dependencies

#2302 Refactor : refactor the release note
  RELEASE-NOTES.md
Labels: document, refactor

#2304 Document : update the elasticjob download page
  docs/content/downloads/_index.cn.md
  docs/content/downloads/_index.en.md
Labels: document

#2305 fix status badge URLs
  README.md
Labels: build

#2308 Reuse ShardingSphereServiceLoader to instead of ElasticJobServiceLoader
  ecosystem/error-handler/spi/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/JobErrorHandler.java
  ecosystem/error-handler/spi/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/JobErrorHandlerPropertiesValidator.java
  ecosystem/error-handler/type/dingtalk/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/dingtalk/DingtalkJobErrorHandlerPropertiesValidatorTest.java
  ecosystem/error-handler/type/dingtalk/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/dingtalk/DingtalkJobErrorHandlerTest.java
  ecosystem/error-handler/type/email/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/email/EmailJobErrorHandlerPropertiesValidatorTest.java
  ecosystem/error-handler/type/email/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/email/EmailJobErrorHandlerTest.java
  ecosystem/error-handler/type/general/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/JobErrorHandlerFactory.java
  ecosystem/error-handler/type/general/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/JobErrorHandlerReloadable.java
  ecosystem/error-handler/type/general/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/general/IgnoreJobErrorHandler.java
  ecosystem/error-handler/type/general/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/general/LogJobErrorHandler.java
  ecosystem/error-handler/type/general/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/general/ThrowJobErrorHandler.java
  ecosystem/error-handler/type/general/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/JobErrorHandlerFactoryTest.java
  ecosystem/error-handler/type/general/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/JobErrorHandlerReloadableTest.java
  ecosystem/error-handler/type/general/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/general/IgnoreJobErrorHandlerTest.java
  ecosystem/error-handler/type/general/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/general/LogJobErrorHandlerTest.java
  ecosystem/error-handler/type/general/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/general/ThrowJobErrorHandlerTest.java
  ecosystem/error-handler/type/wechat/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/wechat/WechatJobErrorHandlerPropertiesValidatorTest.java
  ecosystem/error-handler/type/wechat/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/wechat/WechatJobErrorHandlerTest.java
  ecosystem/executor/kernel/src/main/java/org/apache/shardingsphere/elasticjob/executor/ElasticJobExecutor.java
  ecosystem/executor/kernel/src/main/java/org/apache/shardingsphere/elasticjob/executor/context/ExecutorContext.java
  ecosystem/executor/kernel/src/main/java/org/apache/shardingsphere/elasticjob/executor/item/JobItemExecutorFactory.java
  ecosystem/executor/kernel/src/main/java/org/apache/shardingsphere/elasticjob/executor/item/impl/TypedJobItemExecutor.java
  ecosystem/executor/kernel/src/test/java/org/apache/shardingsphere/elasticjob/executor/item/JobItemExecutorFactoryTest.java
  infra/pom.xml
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/concurrent/ExecutorServiceReloadable.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/context/Reloadable.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/context/ReloadablePostProcessor.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/handler/sharding/JobShardingStrategy.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/handler/sharding/JobShardingStrategyFactory.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/handler/sharding/impl/AverageAllocationJobShardingStrategy.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/JobExecutorServiceHandler.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/JobExecutorServiceHandlerFactory.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/impl/CPUUsageJobExecutorServiceHandler.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/listener/ElasticJobListener.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/listener/ElasticJobListenerFactory.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/spi/ElasticJobServiceLoader.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/spi/SPIPostProcessor.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/spi/TypedSPI.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/spi/exception/ServiceLoaderInstantiationException.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/validator/JobPropertiesValidator.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/concurrent/ExecutorServiceReloadableTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/handler/sharding/JobShardingStrategyFactoryTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/JobExecutorServiceHandlerFactoryTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/impl/CPUUsageJobExecutorServiceHandlerTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/impl/SingleThreadJobExecutorServiceHandlerTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/listener/ElasticJobListenerFactoryTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/listener/fixture/FooElasticJobListener.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/spi/ElasticJobServiceLoaderTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/spi/fixture/TypedFooService.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/spi/fixture/UnRegisteredTypedFooService.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/spi/fixture/impl/TypedFooServiceImpl.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/spi/fixture/impl/UnRegisteredTypedFooServiceImpl.java
  infra/src/test/resources/META-INF/services/org.apache.shardingsphere.elasticjob.infra.spi.fixture.TypedFooService
  infra/src/test/resources/META-INF/services/org.apache.shardingsphere.elasticjob.infra.spi.fixture.UnRegisteredTypedFooService
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/JobScheduler.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingService.java
  pom.xml
  spring/namespace/src/main/java/org/apache/shardingsphere/elasticjob/spring/namespace/job/parser/JobBeanDefinitionParser.java
Labels: refactor, kernel

#2309 Add NopStatusListener in logback-test.xml
  ecosystem/error-handler/type/dingtalk/src/test/resources/logback-test.xml
  ecosystem/error-handler/type/email/src/test/resources/logback-test.xml
  ecosystem/error-handler/type/general/src/test/resources/logback-test.xml
  ecosystem/error-handler/type/wechat/src/test/resources/logback-test.xml
  ecosystem/tracing/api/src/test/resources/logback-test.xml
  ecosystem/tracing/rdb/src/test/resources/logback-test.xml
  infra/src/test/resources/logback-test.xml
  kernel/src/test/resources/logback-test.xml
  lifecycle/src/test/resources/logback-test.xml
  registry-center/provider/zookeeper-curator/src/test/resources/logback-test.xml
  spring/boot-starter/src/test/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ElasticJobSpringBootTest.java
  spring/boot-starter/src/test/resources/logback-test.xml
  spring/core/src/test/resources/META-INF/logback-test.xml
  spring/namespace/src/test/resources/logback-test.xml
Labels: test

#2310 Use ShardingSphereServiceLoader to instead of JDK ServiceLoader
  ecosystem/executor/kernel/src/main/java/org/apache/shardingsphere/elasticjob/executor/item/JobItemExecutorFactory.java
  ecosystem/executor/kernel/src/main/java/org/apache/shardingsphere/elasticjob/executor/item/impl/ClassedJobItemExecutor.java
  ecosystem/tracing/api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/JobTracingEventBus.java
  ecosystem/tracing/api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/listener/TracingListenerConfiguration.java
  ecosystem/tracing/api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/listener/TracingListenerFactory.java
  ecosystem/tracing/api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/storage/TracingStorageConverter.java
  ecosystem/tracing/api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/storage/TracingStorageConverterFactory.java
  ecosystem/tracing/api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/yaml/YamlTracingConfigurationConverter.java
  ecosystem/tracing/api/src/test/java/org/apache/shardingsphere/elasticjob/tracing/listener/TracingListenerFactoryTest.java
  ecosystem/tracing/api/src/test/java/org/apache/shardingsphere/elasticjob/tracing/yaml/YamlJobEventCallerConfigurationConverter.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/datasource/DataSourceConfiguration.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/datasource/JDBCParameterDecorator.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/storage/RDBJobEventStorage.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/type/DatabaseType.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/yaml/YamlDataSourceConfigurationConverter.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/pojo/JobConfigurationPOJO.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/yaml/config/YamlConfigurationConverter.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/yaml/config/YamlConfigurationConverterFactory.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/yaml/config/YamlConfigurationConverterFactoryTest.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/setup/JobClassNameProvider.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/setup/JobClassNameProviderFactory.java
  registry-center/api/pom.xml
  registry-center/api/src/main/java/org/apache/shardingsphere/elasticjob/reg/exception/IgnoredExceptionProvider.java
  registry-center/api/src/main/java/org/apache/shardingsphere/elasticjob/reg/exception/RegExceptionHandler.java
  restful/src/main/java/org/apache/shardingsphere/elasticjob/restful/deserializer/RequestBodyDeserializerFactory.java
  restful/src/main/java/org/apache/shardingsphere/elasticjob/restful/deserializer/factory/DeserializerFactory.java
  restful/src/main/java/org/apache/shardingsphere/elasticjob/restful/deserializer/impl/DefaultTextPlainRequestBodyDeserializer.java
  restful/src/main/java/org/apache/shardingsphere/elasticjob/restful/serializer/ResponseBodySerializer.java
  restful/src/main/java/org/apache/shardingsphere/elasticjob/restful/serializer/ResponseBodySerializerFactory.java
  restful/src/main/java/org/apache/shardingsphere/elasticjob/restful/serializer/factory/SerializerFactory.java
Labels: refactor, kernel

#2311 Simplify variable name from configuration to config
  ecosystem/error-handler/type/wechat/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/wechat/WechatJobErrorHandlerTest.java
  ecosystem/executor/kernel/src/main/java/org/apache/shardingsphere/elasticjob/executor/context/ExecutorContext.java
  ecosystem/executor/type/http/src/test/java/org/apache/shardingsphere/elasticjob/http/executor/HttpJobExecutorTest.java
  ecosystem/tracing/api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/api/TracingConfiguration.java
  ecosystem/tracing/api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/yaml/YamlTracingConfiguration.java
  ecosystem/tracing/api/src/test/java/org/apache/shardingsphere/elasticjob/tracing/yaml/YamlTracingConfigurationConverterTest.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/datasource/DataSourceRegistry.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/yaml/YamlDataSourceConfiguration.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/yaml/YamlDataSourceConfigurationConverter.java
  ecosystem/tracing/rdb/src/test/java/org/apache/shardingsphere/elasticjob/tracing/rdb/datasource/DataSourceRegistryTest.java
  ecosystem/tracing/rdb/src/test/java/org/apache/shardingsphere/elasticjob/tracing/rdb/datasource/DataSourceTracingStorageConverterTest.java
  ecosystem/tracing/rdb/src/test/java/org/apache/shardingsphere/elasticjob/tracing/rdb/yaml/YamlDataSourceConfigurationConverterTest.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/pojo/JobConfigurationPOJO.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/pojo/JobConfigurationPOJOTest.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/annotation/JobAnnotationBuilder.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/RescheduleListenerManager.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionService.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/annotation/JobAnnotationBuilderTest.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/api/JobConfigurationAPI.java
  lifecycle/src/test/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/settings/JobConfigurationAPIImplTest.java
  restful/src/main/java/org/apache/shardingsphere/elasticjob/restful/NettyRestfulService.java
  restful/src/main/java/org/apache/shardingsphere/elasticjob/restful/pipeline/RestfulServiceChannelInitializer.java
  restful/src/test/java/org/apache/shardingsphere/elasticjob/restful/pipeline/NettyRestfulServiceTest.java
  restful/src/test/java/org/apache/shardingsphere/elasticjob/restful/pipeline/NettyRestfulServiceTrailingSlashInsensitiveTest.java
  restful/src/test/java/org/apache/shardingsphere/elasticjob/restful/pipeline/NettyRestfulServiceTrailingSlashSensitiveTest.java
  spring/boot-starter/src/main/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ElasticJobBootstrapConfiguration.java
  spring/namespace/src/main/java/org/apache/shardingsphere/elasticjob/spring/namespace/reg/parser/ZookeeperBeanDefinitionParser.java
Labels: refactor

#2312 Move BlockUtils to kernel module
  ecosystem/executor/kernel/src/main/java/org/apache/shardingsphere/elasticjob/executor/context/ExecutorContext.java
  kernel/pom.xml
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/api/listener/AbstractDistributeOnceElasticJobListener.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/election/LeaderService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/server/ServerService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/util/BlockUtils.java
Labels: refactor

#2313 Rename jobExecutorServiceHandlerType to jobExecutorThreadPoolSizeProviderType
  api/src/main/java/org/apache/shardingsphere/elasticjob/annotation/ElasticJobConfiguration.java
  api/src/main/java/org/apache/shardingsphere/elasticjob/api/JobConfiguration.java
  api/src/test/java/org/apache/shardingsphere/elasticjob/api/JobConfigurationTest.java
  docs/content/dev-manual/thread-pool.cn.md
  docs/content/dev-manual/thread-pool.en.md
  docs/content/user-manual/configuration/_index.cn.md
  docs/content/user-manual/configuration/_index.en.md
  docs/content/user-manual/configuration/java-api.cn.md
  docs/content/user-manual/configuration/java-api.en.md
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/concurrent/ExecutorServiceReloadable.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/ElasticJobExecutorService.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/JobExecutorThreadPoolSizeProvider.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/type/CPUUsageJobExecutorThreadPoolSizeProvider.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/type/SingleThreadJobExecutorThreadPoolSizeProvider.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/pojo/JobConfigurationPOJO.java
  infra/src/main/resources/META-INF/services/org.apache.shardingsphere.elasticjob.infra.handler.threadpool.JobExecutorThreadPoolSizeProvider
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/concurrent/ElasticJobExecutorServiceTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/concurrent/ExecutorServiceReloadableTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/impl/CPUUsageJobExecutorServiceHandlerTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/type/CPUUsageJobExecutorThreadPoolSizeProviderTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/handler/threadpool/type/SingleThreadJobExecutorThreadPoolSizeProviderTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/pojo/JobConfigurationPOJOTest.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/annotation/JobAnnotationBuilder.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/annotation/JobAnnotationBuilderTest.java
  spring/boot-starter/src/main/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ElasticJobConfigurationProperties.java
  spring/boot-starter/src/test/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ElasticJobConfigurationPropertiesTest.java
Labels: refactor, API

#2315 Remove useless JobInstanceRegistry
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/api/registry/JobInstanceRegistry.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/api/registry/JobInstanceRegistryTest.java
Labels: refactor

#2316 Refactor handler package
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/sharding/JobInstance.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/sharding/JobShardingStrategy.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/sharding/impl/AverageAllocationJobShardingStrategy.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/sharding/impl/OdevitySortByNameJobShardingStrategy.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/sharding/impl/RoundRobinByNameJobShardingStrategy.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/threadpool/ElasticJobExecutorService.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/threadpool/ExecutorServiceReloadable.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/threadpool/JobExecutorThreadPoolSizeProvider.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/threadpool/type/CPUUsageJobExecutorThreadPoolSizeProvider.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/threadpool/type/SingleThreadJobExecutorThreadPoolSizeProvider.java
  infra/src/main/resources/META-INF/services/org.apache.shardingsphere.elasticjob.infra.context.Reloadable
  infra/src/main/resources/META-INF/services/org.apache.shardingsphere.elasticjob.infra.sharding.JobShardingStrategy
  infra/src/main/resources/META-INF/services/org.apache.shardingsphere.elasticjob.infra.threadpool.JobExecutorThreadPoolSizeProvider
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/sharding/JobInstanceTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/sharding/impl/AverageAllocationJobShardingStrategyTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/sharding/impl/OdevitySortByNameJobShardingStrategyTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/sharding/impl/RotateServerByNameJobShardingStrategyTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/threadpool/ElasticJobExecutorServiceTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/threadpool/ExecutorServiceReloadableTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/threadpool/type/CPUUsageJobExecutorThreadPoolSizeProviderTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/threadpool/type/SingleThreadJobExecutorThreadPoolSizeProviderTest.java
  infra/src/test/resources/META-INF/services/org.apache.shardingsphere.elasticjob.infra.listener.ElasticJobListener
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/election/ElectionListenerManager.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverListenerManager.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/instance/InstanceService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/JobRegistry.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/JobScheduler.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/server/ServerNode.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionContextService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/trigger/TriggerNode.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/RescheduleListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/election/ElectionListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/election/LeaderServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/instance/InstanceNodeTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/instance/InstanceServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/instance/ShutdownListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/listener/RegistryCenterConnectionStateListenerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/reconcile/ReconcileServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/JobRegistryTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/SchedulerFacadeTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/server/ServerNodeTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/server/ServerServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/setup/SetUpFacadeTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionContextServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/trigger/TriggerListenerManagerTest.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/operate/JobOperateAPIImpl.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/statistics/JobStatisticsAPIImpl.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/statistics/ServerStatisticsAPIImpl.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/statistics/ShardingStatisticsAPIImpl.java
Labels: refactor

#2317 Move ShardingItemParameters to kernel module
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionContextService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingItemParameters.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingItemParametersTest.java
Labels: refactor

#2319 Move TaskContext to kernel module
  ecosystem/tracing/api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/event/JobStatusTraceEvent.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/context/ExecutionType.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/context/TaskContext.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/LiteJob.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/LiteJobFacade.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/context/TaskContextTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/context/fixture/TaskNode.java
Labels: refactor, kernel

#2320 Refactor JobStatusTraceEvent
  ecosystem/tracing/api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/event/JobStatusTraceEvent.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/storage/RDBJobEventStorage.java
  ecosystem/tracing/rdb/src/test/java/org/apache/shardingsphere/elasticjob/tracing/rdb/listener/RDBTracingListenerTest.java
  ecosystem/tracing/rdb/src/test/java/org/apache/shardingsphere/elasticjob/tracing/rdb/storage/RDBJobEventStorageTest.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/context/ExecutionType.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/context/TaskContext.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/exception/JobExecutionException.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/json/GsonFactory.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/sharding/JobInstance.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/yaml/exception/YamlConfigurationConverterNotFoundException.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/context/TaskContextTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/context/fixture/TaskNode.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/env/TimeServiceTest.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/json/GsonFactoryTest.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/api/listener/AbstractDistributeOnceElasticJobListener.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/ConfigurationService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/LiteJobFacade.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/time/TimeService.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/api/listener/DistributeOnceElasticJobListenerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/time/TimeServiceTest.java
Labels: refactor, tracing

#2321 Move sharding from infra to kernel
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/election/ElectionListenerManager.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverListenerManager.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/instance/InstanceService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/JobRegistry.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/JobScheduler.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/server/ServerNode.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionContextService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/JobInstance.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/strategy/JobShardingStrategy.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/strategy/type/AverageAllocationJobShardingStrategy.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/strategy/type/OdevitySortByNameJobShardingStrategy.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/strategy/type/RoundRobinByNameJobShardingStrategy.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/trigger/TriggerNode.java
  kernel/src/main/resources/META-INF/services/org.apache.shardingsphere.elasticjob.kernel.internal.sharding.strategy.JobShardingStrategy
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/RescheduleListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/election/ElectionListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/election/LeaderServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/instance/InstanceNodeTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/instance/InstanceServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/instance/ShutdownListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/listener/RegistryCenterConnectionStateListenerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/reconcile/ReconcileServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/JobRegistryTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/SchedulerFacadeTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/server/ServerNodeTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/server/ServerServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/setup/SetUpFacadeTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionContextServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/JobInstanceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/strategy/type/AverageAllocationJobShardingStrategyTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/strategy/type/OdevitySortByNameJobShardingStrategyTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/strategy/type/RotateServerByNameJobShardingStrategyTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/trigger/TriggerListenerManagerTest.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/operate/JobOperateAPIImpl.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/statistics/JobStatisticsAPIImpl.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/statistics/ServerStatisticsAPIImpl.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/statistics/ShardingStatisticsAPIImpl.java
Labels: refactor, kernel

#2322 Move JobPropertiesValidateRule to error-handler-general module
  ecosystem/error-handler/type/dingtalk/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/dingtalk/DingtalkJobErrorHandlerPropertiesValidator.java
  ecosystem/error-handler/type/email/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/email/EmailJobErrorHandlerPropertiesValidator.java
  ecosystem/error-handler/type/general/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/JobPropertiesValidateRule.java
  ecosystem/error-handler/type/general/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/JobPropertiesValidateRuleTest.java
  ecosystem/error-handler/type/wechat/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/wechat/WechatJobErrorHandlerPropertiesValidator.java
  ecosystem/tracing/api/src/main/java/org/apache/shardingsphere/elasticjob/tracing/event/JobStatusTraceEvent.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/storage/RDBJobEventStorage.java
  ecosystem/tracing/rdb/src/test/java/org/apache/shardingsphere/elasticjob/tracing/rdb/listener/RDBTracingListenerTest.java
  ecosystem/tracing/rdb/src/test/java/org/apache/shardingsphere/elasticjob/tracing/rdb/storage/RDBJobEventStorageTest.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/constant/ExecutionType.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/context/ExecutionType.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/exception/JobStatisticException.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/api/listener/AbstractDistributeOnceElasticJobListener.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/ConfigurationService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/JobConfigurationPOJO.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/RescheduleListenerManager.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/context/TaskContext.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverListenerManager.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/LiteJobFacade.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/MonitorExecutionListenerManager.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingListenerManager.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/integrate/disable/DisabledJobIntegrateTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/integrate/enable/EnabledJobIntegrateTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/annotation/integrate/OneOffEnabledJobTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/annotation/integrate/ScheduleEnabledJobTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/ConfigurationServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/JobConfigurationPOJOTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/context/TaskContextTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/context/fixture/TaskNode.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/api/JobConfigurationAPI.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/settings/JobConfigurationAPIImpl.java
  lifecycle/src/main/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/statistics/JobStatisticsAPIImpl.java
  lifecycle/src/test/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/settings/JobConfigurationAPIImplTest.java
Labels: refactor, kernel

#2324 Rename PropertiesPreconditions
  ecosystem/error-handler/type/dingtalk/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/dingtalk/DingtalkJobErrorHandlerPropertiesValidator.java
  ecosystem/error-handler/type/dingtalk/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/dingtalk/DingtalkJobErrorHandlerPropertiesValidatorTest.java
  ecosystem/error-handler/type/email/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/email/EmailJobErrorHandlerPropertiesValidator.java
  ecosystem/error-handler/type/email/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/email/EmailJobErrorHandlerPropertiesValidatorTest.java
  ecosystem/error-handler/type/wechat/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/wechat/WechatJobErrorHandlerPropertiesValidator.java
  ecosystem/error-handler/type/wechat/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/wechat/WechatJobErrorHandlerPropertiesValidatorTest.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/exception/PropertiesPreconditions.java
  infra/src/main/java/org/apache/shardingsphere/elasticjob/infra/validate/JobPropertiesValidateRule.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/exception/PropertiesPreconditionsTest.java
Labels: refactor, kernel

#2325 Remove and merge duplicated fixtures
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/fixture/executor/TypedFooJobExecutor.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/fixture/job/FailedJob.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/executor/fixture/job/DetailedFooJob.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/executor/item/JobItemExecutorFactoryTest.java
  kernel/src/test/resources/META-INF/services/org.apache.shardingsphere.elasticjob.spi.type.TypedJobItemExecutor
Labels: test

#2326 Rename ElasticJobLiteAutoConfiguration to ElasticJobAutoConfiguration
  spring/boot-starter/src/main/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ElasticJobAutoConfiguration.java
  spring/boot-starter/src/main/resources/META-INF/spring.factories
  spring/boot-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: refactor, spring

#2327 Refactor executor module
  ecosystem/executor/dataflow/pom.xml
  ecosystem/executor/dataflow/src/main/java/org/apache/shardingsphere/elasticjob/dataflow/executor/DataflowJobExecutor.java
  ecosystem/executor/dataflow/src/main/java/org/apache/shardingsphere/elasticjob/dataflow/job/DataflowJob.java
  ecosystem/executor/dataflow/src/main/java/org/apache/shardingsphere/elasticjob/dataflow/props/DataflowJobProperties.java
  ecosystem/executor/dataflow/src/main/resources/META-INF/services/org.apache.shardingsphere.elasticjob.spi.type.ClassedJobItemExecutor
  ecosystem/executor/dataflow/src/test/java/org/apache/shardingsphere/elasticjob/dataflow/executor/DataflowJobExecutorTest.java
  ecosystem/executor/http/pom.xml
  ecosystem/executor/http/src/main/java/org/apache/shardingsphere/elasticjob/http/executor/HttpJobExecutor.java
  ecosystem/executor/http/src/main/java/org/apache/shardingsphere/elasticjob/http/pojo/HttpParam.java
  ecosystem/executor/http/src/main/java/org/apache/shardingsphere/elasticjob/http/props/HttpJobProperties.java
  ecosystem/executor/http/src/main/resources/META-INF/services/org.apache.shardingsphere.elasticjob.spi.type.TypedJobItemExecutor
  ecosystem/executor/http/src/test/java/org/apache/shardingsphere/elasticjob/http/executor/HttpJobExecutorTest.java
  ecosystem/executor/http/src/test/java/org/apache/shardingsphere/elasticjob/http/executor/fixture/InternalController.java
  ecosystem/executor/pom.xml
  ecosystem/executor/script/pom.xml
  ecosystem/executor/script/src/main/java/org/apache/shardingsphere/elasticjob/script/executor/ScriptJobExecutor.java
  ecosystem/executor/script/src/main/java/org/apache/shardingsphere/elasticjob/script/props/ScriptJobProperties.java
  ecosystem/executor/script/src/main/resources/META-INF/services/org.apache.shardingsphere.elasticjob.spi.type.TypedJobItemExecutor
  ecosystem/executor/script/src/test/java/org/apache/shardingsphere/elasticjob/script/ScriptJobExecutorTest.java
  ecosystem/executor/simple/pom.xml
  ecosystem/executor/simple/src/main/java/org/apache/shardingsphere/elasticjob/simple/executor/SimpleJobExecutor.java
  ecosystem/executor/simple/src/main/java/org/apache/shardingsphere/elasticjob/simple/job/SimpleJob.java
  ecosystem/executor/simple/src/main/resources/META-INF/services/org.apache.shardingsphere.elasticjob.spi.type.ClassedJobItemExecutor
  ecosystem/executor/simple/src/test/java/org/apache/shardingsphere/elasticjob/simple/executor/SimpleJobExecutorTest.java
  ecosystem/executor/simple/src/test/java/org/apache/shardingsphere/elasticjob/simple/job/FooSimpleJob.java
  ecosystem/executor/type/script/pom.xml
Labels: refactor, kernel

#2329 Use EmbedTestingServer on lifecycle module
  lifecycle/pom.xml
  lifecycle/src/test/java/org/apache/shardingsphere/elasticjob/lifecycle/AbstractEmbedZookeeperBaseTest.java
  lifecycle/src/test/java/org/apache/shardingsphere/elasticjob/lifecycle/api/JobAPIFactoryTest.java
  lifecycle/src/test/java/org/apache/shardingsphere/elasticjob/lifecycle/internal/reg/RegistryCenterFactoryTest.java
Labels: test

#2330 Use EmbedTestingServer on spring-namespace module
  lifecycle/pom.xml
  spring/namespace/pom.xml
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/job/AbstractJobSpringIntegrateTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/job/AbstractOneOffJobSpringIntegrateTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/job/JobSpringNamespaceWithRefTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/job/JobSpringNamespaceWithTypeTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/job/OneOffJobSpringNamespaceWithRefTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/job/OneOffJobSpringNamespaceWithTypeTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/scanner/AbstractJobSpringIntegrateTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/snapshot/SnapshotSpringNamespaceDisableTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/snapshot/SnapshotSpringNamespaceEnableTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/test/AbstractZookeeperJUnitJupiterSpringContextTests.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/test/EmbedZookeeperTestExecutionListener.java
Labels: test

#2331 Add skip deploy on test module
  pom.xml
  test/util/pom.xml
Labels: dependencies

#2332 Remove useless <groupId>org.apache.maven.plugins</groupId> declaration
  examples/pom.xml
  pom.xml
Labels: dependencies

#2333 Use Awaitility to instead of Thread.sleep
  ecosystem/tracing/api/pom.xml
  ecosystem/tracing/api/src/test/java/org/apache/shardingsphere/elasticjob/tracing/JobTracingEventBusTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/api/bootstrap/impl/OneOffJobBootstrapTest.java
  registry-center/provider/zookeeper-curator/pom.xml
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperElectionServiceTest.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperRegistryCenterExecuteInLeaderTest.java
Labels: test

#2334 Add ReflectionUtils into test module
  ecosystem/error-handler/type/dingtalk/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/dingtalk/fixture/DingtalkInternalController.java
  ecosystem/error-handler/type/email/pom.xml
  ecosystem/error-handler/type/email/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/email/EmailJobErrorHandlerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/api/listener/DistributeOnceElasticJobListenerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/integrate/BaseIntegrateTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/annotation/integrate/BaseAnnotationTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/ConfigurationServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/RescheduleListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/election/ElectionListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/election/LeaderServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/executor/JobFacadeTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/executor/error/handler/JobErrorHandlerReloaderTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/executor/threadpool/ExecutorServiceReloaderTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/guarantee/GuaranteeListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/guarantee/GuaranteeServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/instance/InstanceServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/instance/ShutdownListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/listener/ListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/listener/RegistryCenterConnectionStateListenerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/reconcile/ReconcileServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/JobRegistryTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/JobScheduleControllerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/SchedulerFacadeTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/server/ServerServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/setup/SetUpFacadeTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionContextServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ExecutionServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/MonitorExecutionListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/sharding/ShardingServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/snapshot/BaseSnapshotServiceTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/snapshot/SnapshotServiceDisableTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/storage/JobNodeStorageTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/trigger/TriggerListenerManagerTest.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperElectionServiceTest.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperRegistryCenterForAuthTest.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperRegistryCenterListenerTest.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperRegistryCenterModifyTest.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperRegistryCenterQueryWithCacheTest.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperRegistryCenterQueryWithoutCacheTest.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperRegistryCenterTransactionTest.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperRegistryCenterWatchTest.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/env/RegistryCenterEnvironmentPreparer.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/util/ZookeeperRegistryCenterTestUtil.java
  restful/src/main/java/org/apache/shardingsphere/elasticjob/restful/NettyRestfulServiceConfiguration.java
  spring/boot-starter/src/test/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ElasticJobSpringBootTest.java
  test/util/src/main/java/org/apache/shardingsphere/elasticjob/test/util/ReflectionUtils.java
Labels: test

#2335 Add exception declaration of @SneakyThrows
  ecosystem/error-handler/type/dingtalk/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/dingtalk/DingtalkJobErrorHandler.java
  ecosystem/error-handler/type/dingtalk/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/dingtalk/fixture/DingtalkInternalController.java
  ecosystem/error-handler/type/wechat/src/main/java/org/apache/shardingsphere/elasticjob/error/handler/wechat/WechatJobErrorHandler.java
  ecosystem/error-handler/type/wechat/src/test/java/org/apache/shardingsphere/elasticjob/error/handler/wechat/fixture/WechatInternalController.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/storage/RDBStorageSQLMapper.java
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/env/IpUtilsTest.java
  registry-center/provider/zookeeper-curator/src/test/java/org/apache/shardingsphere/elasticjob/reg/zookeeper/ZookeeperElectionServiceTest.java
  restful/src/main/java/org/apache/shardingsphere/elasticjob/restful/NettyRestfulService.java
  restful/src/test/java/org/apache/shardingsphere/elasticjob/restful/pipeline/FilterChainInboundHandlerTest.java
  restful/src/test/java/org/apache/shardingsphere/elasticjob/restful/pipeline/HttpClient.java
  restful/src/test/java/org/apache/shardingsphere/elasticjob/restful/pipeline/NettyRestfulServiceTest.java
Labels: refactor

#2336 Use ReflectionUtils for all reflection invocations
  ecosystem/tracing/api/pom.xml
  ecosystem/tracing/api/src/test/java/org/apache/shardingsphere/elasticjob/tracing/JobTracingEventBusTest.java
  ecosystem/tracing/rdb/pom.xml
  ecosystem/tracing/rdb/src/test/java/org/apache/shardingsphere/elasticjob/tracing/rdb/listener/RDBTracingListenerTest.java
  infra/pom.xml
  infra/src/test/java/org/apache/shardingsphere/elasticjob/infra/env/IpUtilsTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/api/bootstrap/impl/OneOffJobBootstrapTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/executor/ElasticJobExecutorTest.java
  test/util/src/main/java/org/apache/shardingsphere/elasticjob/test/util/ReflectionUtils.java
Labels: test

#2337 Move TimeServiceTest to correct package
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/time/TimeServiceTest.java
Labels: test

#2339 Move annotation e2e test cases to e2e module
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/annotation/JobAnnotationBuilderTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/annotation/fixture/AnnotationJobFixture.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/annotation/BaseAnnotationE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/annotation/OneOffEnabledJobE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/annotation/ScheduleEnabledJobE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/annotation/fixture/AnnotationSimpleJob.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/annotation/fixture/AnnotationUnShardingJob.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/BaseE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/disable/DisabledJobE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/disable/OneOffDisabledJobE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/disable/ScheduleDisabledJobE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/enable/EnabledJobE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/enable/OneOffEnabledJobE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/enable/ScheduleEnabledJobE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/fixture/executor/E2EFixtureJobExecutor.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/fixture/job/E2EFixtureJob.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/fixture/job/E2EFixtureJobImpl.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/fixture/listener/DistributeOnceE2EFixtureJobListener.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/fixture/listener/E2EFixtureJobListener.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/snapshot/BaseSnapshotServiceE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/snapshot/SnapshotServiceDisableE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/snapshot/SnapshotServiceEnableE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/snapshot/SocketUtils.java
  test/e2e/src/test/resources/META-INF/services/org.apache.shardingsphere.elasticjob.infra.listener.ElasticJobListener
  test/e2e/src/test/resources/META-INF/services/org.apache.shardingsphere.elasticjob.spi.type.ClassedJobItemExecutor
Labels: test

#2341 Rename JobBootstrap package name from elasticjob.bootstrap.impl to elasticjob.bootstrap.type
  bootstrap/src/main/java/org/apache/shardingsphere/elasticjob/bootstrap/type/OneOffJobBootstrap.java
  bootstrap/src/main/java/org/apache/shardingsphere/elasticjob/bootstrap/type/ScheduleJobBootstrap.java
  bootstrap/src/test/java/org/apache/shardingsphere/elasticjob/bootstrap/type/OneOffJobBootstrapTest.java
  examples/elasticjob-example-java/src/main/java/org/apache/shardingsphere/elasticjob/example/JavaMain.java
  examples/elasticjob-example-springboot/src/main/java/org/apache/shardingsphere/elasticjob/example/controller/OneOffJobController.java
  spring/boot-starter/src/main/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ElasticJobBootstrapConfiguration.java
  spring/boot-starter/src/main/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ScheduleJobBootstrapStartupRunner.java
  spring/boot-starter/src/test/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ElasticJobSpringBootScannerTest.java
  spring/boot-starter/src/test/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ElasticJobSpringBootTest.java
  spring/core/src/main/java/org/apache/shardingsphere/elasticjob/spring/core/scanner/ClassPathJobScanner.java
  spring/namespace/src/main/java/org/apache/shardingsphere/elasticjob/spring/namespace/job/parser/JobBeanDefinitionParser.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/job/AbstractOneOffJobSpringIntegrateTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/job/OneOffJobSpringNamespaceWithRefTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/job/OneOffJobSpringNamespaceWithTypeTest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/annotation/BaseAnnotationE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/BaseE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/disable/DisabledJobE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/enable/EnabledJobE2ETest.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/snapshot/BaseSnapshotServiceE2ETest.java
Labels: refactor, API

#2342 Move AbstractDistributeOnceElasticJobListener‘s package
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/guarantee/GuaranteeListenerManager.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/guarantee/GuaranteeService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/schedule/JobScheduler.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/listener/AbstractDistributeOnceElasticJobListener.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/api/listener/fixture/TestDistributeOnceElasticJobListener.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/guarantee/GuaranteeListenerManagerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/guarantee/GuaranteeServiceTest.java
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/fixture/listener/SimpleOnceListener.java
  test/e2e/src/test/java/org/apache/shardingsphere/elasticjob/test/e2e/raw/fixture/listener/DistributeOnceE2EFixtureJobListener.java
Labels: refactor, API

#2344 Move TimeService to infra package
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/infra/time/TimeService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/config/ConfigurationService.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/listener/AbstractDistributeOnceElasticJobListener.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/api/listener/DistributeOnceElasticJobListenerTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/infra/time/TimeServiceTest.java
Labels: refactor

#2347 Rename TracingStorageDatabaseType
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/storage/RDBJobEventStorage.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/type/TracingStorageDatabaseType.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/type/impl/DB2TracingStorageDatabaseType.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/type/impl/DefaultTracingStorageDatabaseType.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/type/impl/H2TracingStorageDatabaseType.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/type/impl/MySQLTracingStorageDatabaseType.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/type/impl/OracleTracingStorageDatabaseType.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/type/impl/PostgreSQLTracingStorageDatabaseType.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/type/impl/SQLServerTracingStorageDatabaseType.java
  ecosystem/tracing/rdb/src/main/resources/META-INF/services/org.apache.shardingsphere.elasticjob.tracing.rdb.type.TracingStorageDatabaseType
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/tracing/yaml/YamlTracingConfiguration.java
Labels: refactor, tracing

#2348 Add SQLPropertiesFactory
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/storage/RDBJobEventStorage.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/storage/RDBStorageSQLMapper.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/storage/SQLPropertiesFactory.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/type/TracingStorageDatabaseType.java
Labels: refactor, tracing

#2350 Switch off springboot's banner in test log
  spring/boot-starter/src/test/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ElasticJobSpringBootScannerTest.java
  spring/boot-starter/src/test/java/org/apache/shardingsphere/elasticjob/spring/boot/job/ElasticJobSpringBootTest.java
  spring/boot-starter/src/test/java/org/apache/shardingsphere/elasticjob/spring/boot/reg/snapshot/ElasticJobSnapshotServiceConfigurationTest.java
  spring/boot-starter/src/test/java/org/apache/shardingsphere/elasticjob/spring/boot/tracing/TracingConfigurationTest.java
Labels: test, spring

#2351 Unify logback-test.xml
  lifecycle/src/test/resources/logback-test.xml
  spring/boot-starter/src/test/resources/logback-test.xml
  spring/core/src/test/resources/META-INF/logback-test.xml
  spring/namespace/src/test/resources/logback-test.xml
Labels: test

#2352 Fix error message occur in spring test cases
  spring/namespace/src/test/java/org/apache/shardingsphere/elasticjob/spring/namespace/fixture/listener/SimpleOnceListener.java
Labels: test, spring

#2353 Resolve dependencies conflicts
  ecosystem/executor/dataflow/src/main/java/org/apache/shardingsphere/elasticjob/dataflow/props/DataflowJobProperties.java
  examples/pom.xml
  pom.xml
Labels: dependencies

#2354 Refactor HttpParam
  ecosystem/executor/http/src/main/java/org/apache/shardingsphere/elasticjob/http/executor/HttpJobExecutor.java
  ecosystem/executor/http/src/main/java/org/apache/shardingsphere/elasticjob/http/pojo/HttpParam.java
  ecosystem/executor/http/src/test/java/org/apache/shardingsphere/elasticjob/http/executor/HttpJobExecutorTest.java
  ecosystem/executor/http/src/test/java/org/apache/shardingsphere/elasticjob/http/pojo/HttpParamTest.java
Labels: refactor, kernel

#2355 Rename TracingStorageFixture
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/datasource/DataSourceConfiguration.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/JobTracingEventBusTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/fixture/config/TracingStorageConfigurationFixture.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/fixture/config/TracingStorageFixture.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/fixture/config/TracingStorageFixtureConverter.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/fixture/listener/TestTracingFailureConfiguration.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/fixture/listener/TestTracingListener.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/fixture/listener/TestTracingListenerConfiguration.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/storage/TracingStorageConverterFactoryTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/yaml/YamlJobEventCallerConfiguration.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/yaml/YamlJobEventCallerConfigurationConverter.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/yaml/YamlTracingConfigurationConverterTest.java
  kernel/src/test/resources/META-INF/services/org.apache.shardingsphere.elasticjob.kernel.tracing.listener.TracingListenerConfiguration
  kernel/src/test/resources/META-INF/services/org.apache.shardingsphere.elasticjob.kernel.tracing.storage.TracingStorageConverter
Labels: test, tracing

#2357 Rename TracingListenerConfiguration to TracingListenerFactory
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/listener/RDBTracingListenerConfiguration.java
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/listener/RDBTracingListenerFactory.java
  ecosystem/tracing/rdb/src/main/resources/META-INF/services/org.apache.shardingsphere.elasticjob.kernel.tracing.listener.TracingListenerFactory
  ecosystem/tracing/rdb/src/test/java/org/apache/shardingsphere/elasticjob/tracing/rdb/listener/RDBTracingListenerFactoryTest.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/tracing/event/JobTracingEventBus.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/tracing/listener/TracingListenerFactory.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/event/JobTracingEventBusTest.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/fixture/listener/TracingListenerFixture.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/tracing/fixture/listener/TracingListenerFixtureFactory.java
  kernel/src/test/resources/META-INF/services/org.apache.shardingsphere.elasticjob.kernel.tracing.listener.TracingListenerFactory
Labels: refactor, tracing

#2359 Remove WrapException
  ecosystem/tracing/rdb/src/main/java/org/apache/shardingsphere/elasticjob/tracing/rdb/storage/repository/RDBJobEventRepository.java
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/tracing/exception/WrapException.java
Labels: refactor, tracing

#2360 Refactor pom
  examples/elasticjob-example-java/pom.xml
  examples/elasticjob-example-spring/pom.xml
  examples/pom.xml
  pom.xml
  spring/boot-starter/pom.xml
  spring/pom.xml
Labels: dependencies
