Repository apache/shardingsphere-elasticjob, pull requests merged in 2024-08, with the labels that each got.

#2419 Bump Maven Wrapper and actions/checkout
  .github/workflows/graalvm.yml
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: build, dependencies

#2421 Block `elasticjob-spring-boot-starter` from passing `spring-boot-starter` test scope dependencies
  docs/content/user-manual/configuration/graalvm-native-image.cn.md
  docs/content/user-manual/configuration/graalvm-native-image.en.md
  spring/boot-starter/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/JavaTest.java
  test/native/src/test/resources/test-native/sh/demo.sh
Labels: enhancement, spring

#2422 Fixes the issue that OneOffJobBootstrap cannot be used under ElasticJob Spring Boot Starter
  bootstrap/src/main/java/org/apache/shardingsphere/elasticjob/bootstrap/type/OneOffJobBootstrap.java
  docs/content/user-manual/operation/dump.cn.md
  docs/content/user-manual/operation/dump.en.md
  docs/content/user-manual/usage/job-api/spring-boot-starter.cn.md
  docs/content/user-manual/usage/job-api/spring-boot-starter.en.md
Labels: bug, refactor, spring

#2417 Provides built-in GraalVM Reachability Metadata and nativeTest on Elasticjob Spring Boot Starter under Spring Boot 3.3.2
  .github/workflows/graalvm.yml
  docs/content/user-manual/configuration/graalvm-native-image.cn.md
  docs/content/user-manual/configuration/graalvm-native-image.en.md
  pom.xml
  reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere.elasticjob/generated-reachability-metadata/proxy-config.json
  reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere.elasticjob/generated-reachability-metadata/reflect-config.json
  reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere.elasticjob/generated-reachability-metadata/resource-config.json
  spring/pom.xml
  test/native/native-image-filter/extra-filter.json
  test/native/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/TestMain.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/commons/controller/OneOffJobController.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/commons/job/dataflow/SpringBootDataflowJob.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/commons/job/simple/SpringBootSimpleJob.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/commons/repository/SpringBootFooRepository.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/it/staticd/JavaTest.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/it/staticd/SpirngBootTest.java
  test/native/src/test/resources/application.yml
Labels: enhancement, document, test, spring

#2426 Add nativeTest for dynamically configuring jobs through Operation API in GraalVM Native Image
  docs/content/user-manual/usage/operation-api/_index.cn.md
  docs/content/user-manual/usage/operation-api/_index.en.md
  reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere.elasticjob/elasticjob-reachability-metadata/reflect-config.json
  reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere.elasticjob/generated-reachability-metadata/reflect-config.json
  reachability-metadata/src/main/resources/META-INF/native-image/org.apache.shardingsphere.elasticjob/generated-reachability-metadata/resource-config.json
  reachability-metadata/src/main/resources/META-INF/native-image/org.hamcrest/hamcrest/2.2/reflect-config.json
  test/native/pom.xml
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/commons/entity/Foo.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/commons/job/dataflow/JavaDataflowJob.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/commons/job/dataflow/SpringBootDataflowJob.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/commons/job/simple/JavaSimpleJob.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/commons/job/simple/SpringBootSimpleJob.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/commons/repository/FooRepository.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/commons/repository/SpringBootFooRepository.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/it/operation/JavaTest.java
  test/native/src/test/java/org/apache/shardingsphere/elasticjob/test/natived/it/staticd/JavaTest.java
  test/native/src/test/resources/application.yml
Labels: enhancement, document, test

#2432 fix Issue 2429
  kernel/src/main/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverListenerManager.java
  kernel/src/test/java/org/apache/shardingsphere/elasticjob/kernel/internal/failover/FailoverListenerManagerTest.java
Labels: bug
